<h1>Create a new Cat</h1>
<form action="<%= cats_url %>" method="POST">
  <label>Enter Cat Name:
    <input type="text" name="cat[name]" value="">
  </label>
  <br>
  <label>Enter Cat Birth Date:
    <input type="date" name="cat[birth_date]" value="Birth Date">
  </label>
  <br>
  <label>Enter Cat Color:
    <select id="color" name="cat[color]" value= "Pick a color" >
      <option selected disabled value="">Please Select Color</option>
      <option <%= "selected" if cat.color == CAT::CAT_COLORS[0]%> value="<%=CAT::CAT_COLORS[0]%>"> <%= CAT::CAT_COLORS[0] %> </option>
      <option <%= "selected" if cat.color == CAT::CAT_COLORS[1]%> value="<%=CAT::CAT_COLORS[1]%>"> <%= CAT::CAT_COLORS[1] %> </option>
      <option <%= "selected" if cat.color == CAT::CAT_COLORS[2]%> value="<%=CAT::CAT_COLORS[2]%>"> <%= CAT::CAT_COLORS[2] %> </option>
      <option <%= "selected" if cat.color == CAT::CAT_COLORS[3]%> value="<%=CAT::CAT_COLORS[3]%>"> <%= CAT::CAT_COLORS[3] %> </option>
    </select>
  </label>
  <br>
  <label>Enter Cat Sex:
    <br>
    <input type="radio" id="M" name="cat[sex]" value="M">
    <label for="M">M</label>
    <br>
    <input type="radio" id="W" name="cat[sex]" value="W">
    <label for="W">W</label>
    <br>
  </label>
  <br>
  <label>Enter Cat Description:
    <input type="text" name="cat[description]" value="Description of Cat">
  </label>
  <br>
  <input type="submit" value="Create Cat">
</form>
